body{
font-family:Arial;
margin:0;
}

.center{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#ffe6f0;
}

.card{
text-align:center;
background:white;
padding:30px 20px;
border-radius:20px;
box-shadow:0 10px 20px rgba(0,0,0,0.2);
}

.gift{
width:50%;
max-width:200px;
}

button{
padding:12px 20px;
font-size:16px;
border:none;
border-radius:10px;
background:#ff4da6;
color:white;
cursor:pointer;
}

body.chaos{
height:100vh;
overflow:hidden;
font-family:Comic Sans MS;
background: linear-gradient(
90deg,
red,
orange,
yellow,
green,
cyan,
blue,
violet
);
background-size:400% 400%;
animation:rainbow 5s linear infinite;
}

@keyframes rainbow{
0%{background-position:0%}
100%{background-position:100%}
}

.content{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
text-align:center;
color:white;
text-shadow:3px 3px black;
}

.photo{
.photo{
width:80%;
max-width:300px;
border-radius:20px;
border:6px dashed yellow;
}
}

.emoji{
position:absolute;
font-size:clamp(20px,6vw,40px);
animation:float 6s linear infinite;
}

@keyframes float{
0%{transform:translateY(100vh) rotate(0deg);}
100%{transform:translateY(-100px) rotate(360deg);}
}

.e1{left:10%; animation-duration:6s;}
.e2{left:20%; animation-duration:7s;}
.e3{left:30%; animation-duration:5s;}
.e4{left:40%; animation-duration:8s;}
.e5{left:55%; animation-duration:6s;}
.e6{left:65%; animation-duration:7s;}
.e7{left:80%; animation-duration:5s;}
.e8{left:90%; animation-duration:6s;}

#emojiJump{
position:fixed;
top:50%;
left:50%;
transform:translate(-50%,-50%) scale(0.5);
font-size:clamp(120px,35vw,220px);
z-index:999;
transition:opacity 0.5s, transform 0.3s;
pointer-events:none;
}

h1{
font-size:clamp(24px,6vw,40px);
}

